@CHARSET "ISO-8859-1";
	body {
	background-color: white;
	}
	p {	    
	font-size: 20px;
    color: #73AD20;
    font-family: Arial;
    text-align: justify;
    }
  	h1 {
    font-size: 4em;
    background-color:green;
    font-family: Georgia;
    font-style: bold;
    font-weight: normal;
	line-height: 1.1em;
	text-align: center;
 	}
  	h2 {
    font-size: 20px;
    background-color:green;
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    text-align: center;
  	}
  	h3 {
    font-size: 1.5em;
    color: black;
    font-family: Times New Roman;
    font-style: bold;
    text-align: left;
  	}
  	h4 {
    font-size: 20px;
        color: #73AD23;
        font-family: Arial;
        font-style: italic;
    text-align: justify;
  	}
  	div {
    background-color:green;	
    color: white;
    font-family: Georgia;
	width: 95%;
    height: 20%;
    padding: 25px;
  	}
    #rcorners1 {
    float: left;
    border-radius: 10px;
    display: inline-block;
    width: 20%;
    height: 20px; 
    border: 1px solid #73AD21;
    padding: 20px; 
    margin: .5em .5em .5em .5em;
    }

    .floating-box {
    display: inline-block;
    width: 95%
    height: 200px;
    margin: 5px; 
    background-color: white;
    border: 1px solid #73AD21;
    }
    a{
	text-decoration: none;
	color: #73AD20;
	}
	a:hover{
	background-color: #73AD20;
	box-shadow: 0px 1px 1px #666;
	color:white;
	}
	a:active{ text-decoration: underline; }
	#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}
}



